*{
    margin: 0 auto;
    box-sizing: border-box;
}
.body {
    background-image: url('https://universoabiertoblog.files.wordpress.com/2020/01/yt-efilm.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}